/* Estilos comuns */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: auto;
    background-repeat: repeat;
    color: black;
    transition: background-image 0.5s;
}

.top {
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.icons ion-icon {
    color: white;
    margin-left: 10px;
}

.btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.inicio {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.calvos {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 100px;
    top: 500px;
}

.calvos img {
    height: 600px;
    width: 700px;
}

.neymar {
    display: flex;
    position: relative;
    width: 500px;
    left: 800px;
    top: -1300px;
}

/* Estilos para dispositivos com largura de tela menor que 600px (celulares, por exemplo) */
@media only screen and (max-width: 600px) {
    .calvos img {
        height: auto; /* Ajusta a altura automaticamente */
        width: 100%; /* Define a largura para ocupar toda a largura do contêiner pai */
    }

    .neymar {
        width: 100%; /* Define a largura para ocupar toda a largura do contêiner pai */
        left: 0; /* Alinha à esquerda */
        top: 0; /* Alinha ao topo */
    }
}