/* Estilos comuns */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: auto; /* Alterado para permitir a repetição da imagem de fundo */
    background-repeat: repeat; /* Adicionado para garantir a repetição da imagem de fundo */
    color: black;
    transition: background-image 0.5s;
}

.top {
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.icons ion-icon {
    color: white;
    margin-left: 10px;
}

.btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed; /* Definir a posição como fixa */
    bottom: 20px;
    right: 20px;
    z-index: 9999; /* Definir um valor de z-index alto */
}

.inicio {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.calvos {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    top: 500px;
}

.calvos img {
height: 600px;
width: 700px;
}

