/* Estilos comuns */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('fundo_branco.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    transition: background-image 0.5s;
}

.top {
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.icons ion-icon {
    color: white;
    margin-left: 10px;
}

.btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.primeiro{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 300px;
    right: 300px;
}

.primeiro img {
    height: 300px;
}

.inicio {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 825px;
    width: 500px;
}

.inicio p {
    height: 50px;
}

.calvos {
    position: relative;
    display: flex;
    flex-direction: column;
    right: 700px;
    gap: 50px;
    top: 500px;
}

.bruga {
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 700px;
    top: 800px;
    right: 700px;
}

.bruga img {
    height: 600px;
    width: 600px;
}